---
const { posts, path, level = 3 } = Astro.props;
const Heading = `h${level}`;
---

<div>
	{
		posts.map((post) => (
			<div class="c-post-card">
				<Heading class="!text-[1em] !font-medium">
					<a href={`/${path}/${post.id}`}>{post.data.title}</a>
				</Heading>

				<p>{post.data.description}</p>
			</div>
		))
	}
</div>
